NFT_ADDRESS=0x341c7d0f2819C2Ee3efd61585D2753227580f4A7
BUNDLER_URL=https://bundler.biconomy.io/api/v2/80001/xxxxxxxx
PAYMASTER_URL=https://paymaster.biconomy.io/api/v1/80001/xxxxxx
PARTICLE_ID=xxxxxxxxx
CLIENT_KEY=xxxxxxxxxx
APP_ID=xxxxxxxxx